streamlit>=1.35
numpy>=1.26
pandas>=2.1
astropy>=6.0
photutils>=1.12
scipy>=1.11
scikit-image>=0.22
astroalign>=2.5
opencv-python-headless>=4.9
tifffile>=2024.2.12
imageio>=2.34
matplotlib>=3.8
streamlit-image-coordinates>=0.1.9
Pillow>=10.0



python3.11 -m venv .venv
source .venv/bin/activate
pip install -r requirements.txt
streamlit run app.py



py -3.11 -m venv .venv
.venv.ps1
pip install -r requirements.txt
streamlit run app.py


py -3.11 -m venv .venv
.venv.bat
pip install -r requirements.txt
streamlit run app.py
